.container {
    max-width: 1200px;
}

table {
    margin: auto;
    margin-bottom: 1em;
}

th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

td {
    vertical-align: top;
}

h1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
    padding-top: 1.5em;
    font-weight: bold;
    text-align: center;
}

mark {
    background-color: #a7cefb;
}
